/*CSS script for Trailmaker Project*/
#content {
    font-family: cambria, helvetica, sans-serif;
    background-color: #D2CED9;
    line-height:125%;
    font-size:large;
}

#bookmarks{
	float:left;
	width:48%;
	margin-right:1%;
	margin-left:.5%;
	min-height:350px;
	background-color: #fff;
	border-radius:50px;
	padding: 5px;
	overflow:auto;
}

#Block{
	float:left;
	width:48%;
	margin-right:1%;
	margin-left:.5%;
}
 
#new-trail{
	float:left;
	min-height:350px;
	background-color: #fff;
	border-radius:50px;
	width:100%;
	padding: 5px;
	word-wrap:break-word;
	overflow:auto;
}
 
#SaveTrail{
	position:relative;
	margin-top:50%;
}

#links,#tags{
	width:100%;
	word-wrap:break-word;
}

iframe {
	float: left;
	width: 94%;
	margin-right: 1%;
	min-height: 200px;
	border-radius:20px;
	padding: 5px;
}

li {
	font-size: .8em;
}
