/*CSS script for Trailmaker Project*/
#bookmarks{
			   float:left;
			   width:48%;
			   margin-right:1%;
               margin-left:.5%;
			   min-height:300px;
			   border: 1px solid #666;
			   }
#Block{
float:left;
width:48%;
margin-right:1%;
margin-left:.5%;
 }
 
 #new-trail{
 float:left;
 min-height:300px;
 border: 1px solid #666;
 width:100%;
 }
 
#SaveTrail{
 position:relative;
margin-top:50%;
}

